
/*NOTE: All styles are written in a particular first-place order as the appear on the HTML file. Thanks!*/


.nav-link.active {
	color: #FF5C8D!important;
}

.nav-link {
	color: #333333;
	font-weight: 500;

	font-size:20px;
}
.tagName {
	font-size:80px;
	font-weight: 700;
	color: #FF5C8D;
	white-space: nowrap;	
}

.text-cont {
	margin-top:12em;

}

.first-section{
	margin-left: 6.5em;
}
.FS-text {
	margin-top: 10em;
}
.FS-text  > div > p {
	font-size:25px;
}
.FS-Img {
	background-image: url(ft.svg);
	height: 39em;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: -3.5em;
	margin-left:2em; 

}

.FS-Img-two {
	background-image: url(portfolio.svg);
	height: 39em;
	background-repeat: no-repeat;
	background-size: contain;

}

.second-section {

margin-left: 0;
}

.FS-text-two {
		margin-top: 0em;
}

.FS-text-two  > div > h4 {
font-family: 'Montserrat', sans-serif;
font-weight: 900!important;
}

.FS-text-two  > div > p {
	font-size:25px;
}

.dot {
  height: 35px;
  width: 35px;
  border:2px solid pink;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-top:.178997em;
}

.S-icon {
	background-color: #FF5C8D;
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.but {
	background-color: #FF5C8D;
}
.nav-pills > .nav-item > .active {
		background-color: #FF5C8D!important;
		color:white!important;
}

.form-control { 

	border: 1px solid #e8598c;

}
.jov {
	background-image: url(leftEclipse.svg), url(eclip.svg);
	background-repeat: no-repeat;
	background-position: center right, 0em 50em;
}
.second-divider  {
	background-image: url(leftEclipse.svg);
	background-repeat: no-repeat;
	background-size: 250px 250px;
	background-position: 370px 430px;
}
@media only screen and (max-width: 1307px) {
.first-section{
	margin-left: 3em;
}
.tagName {
	font-size:73px;
}

}

@media only screen and (max-width: 1146px) {

	.FS-Img {
		margin-top: -3em;
		margin-left:4em; 
		
	}

	.first-section{
	margin-left: 1em;
}
.tagName {
	font-size:65px;
}

}

@media only screen and (max-width:1061px) {
	.FS-Img {
	margin-top: -1.3em;
	margin-left:0em; 


	}
.col-md-7 {
    flex: 0 0 65%;
    max-width: 65%;
    margin-left:auto;
}

.col-md-5 {
  
    flex: 0 0 30%;
    max-width: 30%;
    margin-left:-1.5em;
}

.tagName {
	font-size:50px;
}

}